.row
  .col-sm-8.col-sm-offset-2
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th.col-sm-4 저장소
            %th.col-sm-6 저장소 설명
            %th.col-sm-2 선택
        %tbody
          - @gh_repos.each do |repo|
            %tr
              %td
                %span= repo.full_name
              %td
                %em.text-muted= repo.description
              %td
                %a.btn.btn-primary.btn-sm(href="/builds/github/#{@github_host}/repos/#{repo.id}/add?repo_name=#{repo.name}" role="button") 선택